{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": false,
        "ssr": true,
        "preprocess": false
      }
    ],
    "@babel/plugin-transform-runtime"
  ]
}
